*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#relativo{
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    /*border: thin solid black;*/
  }

.muñeco{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 400px;
}

.cabeza{
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 50%;
}

.ojos{
    text-align: center;
    margin-top: 20px;
}

.ojos span{
    display: inline-block;
    width: 7px;
    height: 20px;
    background: #333;
    border-radius: 50%;
    margin: 0 10px;
}

.nariz{
    width: 7px;
    height: 15px;
    background: red;
    border-radius: 50%;
    margin: 0 auto;
}

.boca{
    width: 20px;
    height: 7px;
    background: #333;
    border-radius: 50%;
    margin: 15px auto 0;
    z-index: -1;
}

.cuerpo{
    width: 125px;
    height: 125px;
    background: white;
    border-radius: 50%;
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: -2;
}

.cuerpo span{
    width: 6px;
    height: 6px;
    background: #333;
    border-radius: 50%;
    margin: 5px;
}

.muñeco {
    animation-name: anim-muñeco;
    animation-duration: 3000ms;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  @keyframes anim-muñeco {
    0%   {left:0px; top:0px;}
    50%  {left:400px; top:0px;}
    100% {left:0px; top:0px;}
  }